*{
    margin: 0px;
    padding: 0px;
}
/*  
    font reference
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kufam', cursive;
    font-family: 'Roboto', sans-serif;
*/

body{
    background-color: #282828;
    color: #FDF9FF;
    font-family: 'Roboto', cursive, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
}
.topMenuBranding{
    width: 5vw;
    min-width: 75px;
    margin: 10px;
}
.topMenuNav{
    background-color: #6B0080;
    color: #FDF9FF;
    font-family: 'Kufam', cursive;
    font-size: 1.2em;
}
.logoBanner{
    background-color: #8c29992a;
    max-height: 800px;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.logoBannerImage{
    width: 50%;
    min-width: 250px;
    max-width: 350px;
}
.hazmatExp{
    width: 100%;
    background-color: #FFBA00;
}
.hazmatExpImage{
    width: 100%;
    min-width: 150px;
    max-width: 500px;
}
.txtHazmatTitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    line-height: 1em;
    padding-top: 3%;
    color: #282828;
}
.txtHazmatBody{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #282828;
}
.availableSoonButton{
    width: 30%;
    min-width: 300px;
    max-width: 500px;
}
.orgAndLabDiv{
    clear: both;
}
.organizationDiv{
    background-color: #0095af;
}
.organizationLogo{
    padding-top: 5vw;
}
.organizationLogoImage{
    width: 35%;
    min-width: 80px;
    max-width: 200px;
    margin: 1vw;
}
.organizationTxtTitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}
.organizationTxtBody{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    padding-right: 2vw;
    padding-left: 2vw;
}
.amazonDownload{
    width: 40%;
    min-width: 150px;
    max-width: 200px;
}
.labyrinthBackground{
    background-color: #462110;
}
.labyrinthBanner{
    width: 100%;
    min-width: 150px;
    max-width: 350px;
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.labyrinthTxtTitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}
.labyrinthTxtBody{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    padding-right: 2vw;
    padding-left: 2vw;    
}
.labyrinthPlayItNow{
    width: 40%;
    min-width: 150px;
    max-width: 250px;    
}
.companyBackground{
    background-color: #8C2999;
}
.companyLogo{
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    margin: 2vw;
}
.purpleDotGamesHead{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    margin: 2vw;
}
.purpleDotTxtBody{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    margin: 2vw;
}
